.cover__link {
    margin: auto auto 134px auto;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 78px;
    color: #FFFDFD;
    text-decoration: none;
}
.cover__link:hover{
    opacity: 0.7;
}
@media screen and (max-width:768px) {
    .cover__link {
        margin: auto auto 45px auto;
    }
}
@media screen and (max-width:500px) {
    .cover__link {
        font-size: 32px;
        line-height: 35px;
        margin: auto auto 20px auto;
    }
}