.place {
    display: grid;
    grid-template-columns: 460px 1fr;
}
@media screen and (max-width:1440px) { 
    .place {
          max-width: 100%;
      }
}
@media screen and (max-width:1024px) {
    .place {
      grid-template-columns: 440px 1fr;
    }
}
@media screen and (max-width: 984px) {
    .place {
      margin: 0 24px;
    }
}
@media screen and (max-width:768px) {
    .place {
      grid-template-columns: 340px 1fr;
    }
}
@media screen and (max-width:630px) { 
    .place {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
}