.video__contain {
    display: grid;
    max-width: 1184px;
    margin: 72px auto 102px auto; 
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 18px;
}
@media screen and (max-width:1024px) {
    .video__contain{
      max-width: 984px;
      grid-column-gap: 16px;
    }
}
@media screen and (max-width:768px) {
    .video__contain {
      margin: 56px 24px 102px 24px;
    }
}
@media screen and (max-width:500px) {
    .video__contain {
      margin: 24px 16px 64px 16px;
      grid-gap: 8px;
    }
}