.content__title_video {
    margin: 0 auto 28px auto;
    font-size: 72px;
    line-height: 78px;
}
@media screen and (max-width:768px) {
    .content__title_video {
      margin: 0 auto 24px auto;
      font-size: 42px;
      line-height: 46px;
      max-width: 600px;
    }
}
@media screen and (max-width:500px) {
    .content__title_video {
      margin: 0 auto 16px auto;
      font-size: 32px;
      line-height: 35px;
    }
}